<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Oops!</title>
        <link rel="stylesheet" th:href="@{/css/style.css}"></link>
    </head>
    <body>
        <div class="errorPage">
            <span class="oops">Oops!</span><br/>
            <img th:src="@{/image/MissingPage.png}"></img>
            <p>There seems to be a problem with the page you requested
                (<span text="${path}">/readingList</span>).</p>
            <p th:text="${'Details: ' + message}"></p>
        </div>
    </body>
</html>